<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YourIcons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <YourIcons.Properties.Settings>
            <setting name="Palette" serializeAs="String">
                <value>metro</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>/LWLCX.ModernUI;component/Assets/ModernUI.Dark.xaml</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>#FF3399FF</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>large</value>
            </setting>
        </YourIcons.Properties.Settings>
    </userSettings>
</configuration>